{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-sm m-0"
		style="background-image: url({% static 'images/roof3.jpeg' %}); background-size: cover; background-position: center;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold text-8 mb-0">About Us</h1>
				</div>
				<!--<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="demo-industry-factory.html" class="text-decoration-none">Home</a></li>
									<li class="active">About Us</li>
								</ul>
							</div>-->
			</div>
		</div>
	</section>

	<section class="section custom-section-shape-background border-0 m-0">
		<div class="container position-relative z-index-3 my-5">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
					<img src="{% static 'images/worker2.jpg' %}" class="img-fluid box-shadow-3 appear-animation"
						data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
				</div>
				<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter"
					data-appear-animation-delay="500">
					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">C Smith & Son</h2>
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Company Overview</h3>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">At C Smith & Son, we
						take immense pride in being the premier slate roof installers in New England. Our unwavering
						commitment to exceptional craftsmanship, attention to detail, and customer satisfaction sets us
						apart as industry leaders.</p>
					<p class="mb-0">Unparalleled Expertise: Our team comprises highly skilled and extensively trained
						professionals who possess an unparalleled level of expertise in slate roof installation. With
						years of experience, we have honed our skills to deliver flawless results that withstand the
						test of time.
						Premium Materials: We understand the significance of using only the finest materials for slate
						roof installations. We source top-grade, ethically produced slate from reputable suppliers,
						ensuring durability, aesthetics, and long-lasting beauty for our customers' roofs.
						Precision Installation: Every project we undertake is executed with meticulous precision and
						care. From the initial assessment to the final touches, we adhere to industry best practices and
						employ cutting-edge techniques to ensure a seamless installation that exceeds our clients'
						expectations.
						Attention to Detail: We believe that it is the small details that make a big difference. Our
						team pays meticulous attention to every aspect of the installation process, from the alignment
						of the slates to the quality of the underlayment, ensuring a structurally sound and visually
						stunning roof that stands out in New England's architectural landscape.
						Customer Satisfaction: Our commitment to customer satisfaction is unwavering. We prioritize open
						and transparent communication, actively involving our clients throughout the project. Our
						friendly and knowledgeable team is always available to address any concerns and provide timely
						updates, ensuring a smooth and enjoyable experience from start to finish.
						Long-Term Investment: A slate roof is a significant investment, and we understand its long-term
						implications. By combining our expertise, premium materials, and rigorous installation
						practices, we create roofs that not only enhance the aesthetic appeal of properties but also
						provide decades of reliable protection and value.
						Sustainable Practices: We are committed to practicing sustainability in every aspect of our
						operations. From responsibly sourcing materials to minimizing waste and recycling, we strive to
						minimize our environmental impact while delivering exceptional results.
						When you choose C Smith & Son, you can trust that you are selecting the best slate roof
						installers in New England. Our unwavering dedication to quality, craftsmanship, and customer
						satisfaction ensures that your slate roof will be a true masterpiece, standing the test of time
						and adding beauty and value to your property for generations to come.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
		<div class="container position-relative z-index-3 my-5">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter"
					data-appear-animation-delay="200">
					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">OUR VALUES</h2>
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Our Mission</h3>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">At C Smith & Son, our
						mission is to be the premier provider of slate roof installations in New England, delivering
						unparalleled craftsmanship, exceptional quality, and timeless beauty. We are dedicated to
						preserving the rich architectural heritage of the region by offering superior slate roof
						solutions tailored to the unique needs of our clients, while maintaining the highest standards
						of customer satisfaction, sustainability, and community engagement.

					</p>
					<p class="mb-0">Unmatched Craftsmanship: We are passionate about the artistry and craftsmanship that
						goes into slate roof installations. Our mission is to uphold the time-honored traditions of
						slate roofing, employing highly skilled professionals who meticulously install each slate tile,
						resulting in roofs that are not only visually stunning but also built to last for generations.
						Exceptional Quality and Durability: We are committed to providing the highest quality slate
						materials sourced from reputable suppliers. By selecting premium slate with superior durability
						and weather resistance, we ensure that our installations can withstand the unique climate
						challenges of New England, providing long-lasting protection and value to our customers'
						properties.
						Timeless Beauty and Architectural Preservation: Our mission is to preserve the rich
						architectural heritage of New England through the installation of exquisite slate roofs. We
						believe that slate is a timeless and elegant roofing material that perfectly complements the
						diverse architectural styles found throughout the region. By blending tradition and innovation,
						we create slate roofs that enhance the beauty and authenticity of properties while maintaining
						the region's architectural character.
						Customer Satisfaction and Engagement: Customer satisfaction is at the core of our mission. We
						prioritize open and transparent communication, actively involving our clients throughout the
						installation process to ensure their vision and expectations are met. By delivering exceptional
						craftsmanship, attentive service, and exceeding customer expectations, we aim to build long-term
						relationships and become the trusted partner for all slate roof needs in New England.
						Sustainability and Environmental Stewardship: We are committed to practicing sustainability and
						minimizing our environmental impact. Through responsible sourcing of slate materials, waste
						reduction, recycling practices, and promoting energy-efficient roofing systems, we strive to be
						a leader in environmentally conscious roofing solutions. Our mission is to contribute to a
						greener future while providing exceptional slate roof installations.
						Community Engagement: We actively engage with and support the communities we serve. Our mission
						extends beyond our roofing services as we participate in local initiatives, support charitable
						causes, and collaborate with like-minded organizations to make a positive impact on the
						communities in which we operate.
						At C Smith & Son, our mission is to be the go-to slate roof installation company in New
						England, known for our unmatched craftsmanship, exceptional quality, and commitment to
						architectural preservation. By upholding our mission, we aim to create enduring slate roofs that
						not only protect and enhance properties but also contribute to the cultural and aesthetic fabric
						of New England.</p>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
					<img src="{% static 'images/worker.jpg' %}" class="img-fluid box-shadow-3 appear-animation"
						data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" alt="" />
				</div>
			</div>
		</div>
	</section>

	<section class="section bg-light border-0 z-index-2 pb-0 m-0">
		<div class="container pt-3 mt-5">
			<div class="row justify-content-center mb-5">
				<div class="col-lg-9 col-xl-8 text-center">
					<div class="overflow-hidden">
						<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="200">WHAT WE DO</h2>
					</div>
					<div class="overflow-hidden mb-3">
						<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="400">A Selection Of Industries
							We Serve</h3>
					</div>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Lorem ipsum dolor sit
						amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est
						consectetur.</p>
				</div>
			</div>
			<div class="row pb-5 mb-5">
				<div class="col appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="750">
					<div class="owl-carousel stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark mb-0"
						data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoHeight': true, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': false, 'margin': 20, 'stagePadding': 75}">
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1968</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Lorem ipsum dolor. </p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1969</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum.</p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1972</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Lorem ipsum dolor. </p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1978</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum.</p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1983</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Lorem ipsum dolor. </p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1985</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-height-3 overlay overlay-show overlay-color-primary overlay-op-8 border-0 m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container py-3">
			<div class="row align-items-center justify-content-center text-center text-lg-start">
				<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
					<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">Get Your Next Project
						Done!</h2>
				</div>
				<div class="col-lg-3 text-lg-end">
					<a href="/contact"
						class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
						<svg class="custom-svg-btn-background" version="1.1" xmlns="/contact" xmlns:xlink="/contact"
							x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
							<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10"
								points="7,5 185,5 205,34 186,63 7,63 " />
						</svg>
						GET A QUOTE
					</a>
				</div>
			</div>
		</div>
	</section>


</div>


{% endblock content %}