{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-sm m-0"
		style="background-image: url({% static 'images/roof3.jpeg' %}); background-size: cover; background-position: center;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold text-8 mb-0">About Us</h1>
				</div>
				<!--<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="demo-industry-factory.html" class="text-decoration-none">Home</a></li>
									<li class="active">About Us</li>
								</ul>
							</div>-->
			</div>
		</div>
	</section>

	<section class="section custom-section-shape-background border-0 m-0">
		<div class="container position-relative z-index-3 my-5">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
					<img src="{% static 'images/worker2.jpg' %}" class="img-fluid box-shadow-3 appear-animation"
						data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"
						alt="Copper gutters installation by Northeast Gutter in Lowell, MA, serving New England" />
				</div>
				<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter"
					data-appear-animation-delay="500">
					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">Northeast Gutter</h2>
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Company Overview</h3>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">Northeast Gutter has
						established itself as a premier gutter
						company specializing in the installation of copper gutters in the picturesque region of New
						England. With a commitment to excellence, craftsmanship, and customer satisfaction, we have
						become the trusted choice for homeowners and businesses seeking superior gutter solutions.</p>
					<p class="mb-0">

						Our team of highly skilled professionals brings years of industry experience and expertise to
						every project we undertake. We take pride in our meticulous craftsmanship, ensuring that each
						copper gutter system we install is flawlessly executed, combining functionality and aesthetics
						seamlessly. With an unwavering attention to detail, we guarantee that our copper gutters will
						enhance the architectural beauty of any property, from historic homes to modern residences and
						commercial buildings.

						At Northeast Gutter, we recognize the importance of using high-quality materials to deliver
						outstanding results. We exclusively source the finest copper materials renowned for their
						durability, weather resistance, and timeless elegance. Our commitment to sustainability extends
						beyond product excellence – copper is a naturally renewable material, contributing to reduced
						waste and environmental conservation.

						Customer satisfaction is at the heart of our business philosophy. We strive to exceed our
						clients' expectations by providing exceptional customer service at every stage of the process.
						From the initial consultation to the final installation, our friendly and knowledgeable team
						guides customers through the entire journey, addressing any concerns and ensuring clear
						communication.

						As a company, we value professionalism, integrity, and transparency. We believe in building
						long-lasting relationships with our clients, based on trust and mutual respect. We are proud to
						have earned a reputation for reliability, dependability, and delivering projects on time and
						within budget.

						Whether you are a homeowner looking to enhance the curb appeal of your property or a business
						owner seeking durable gutter solutions, Northeast Gutter is dedicated to providing top-quality
						copper gutter installations. With our expertise, craftsmanship, and commitment to customer
						satisfaction, we stand ready to transform your gutter system into a functional and visually
						appealing asset.

						Contact Northeast Gutter today to discuss your gutter needs and experience the unparalleled
						service and excellence that sets us apart as New England's leading copper gutter installation
						company.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section custom-section-shape-background custom-section-shape-background-reverse border-0 m-0">
		<div class="container position-relative z-index-3 my-5">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 order-2 order-lg-1 appear-animation" data-appear-animation="fadeInLeftShorter"
					data-appear-animation-delay="200">
					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">OUR VALUES</h2>
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Our Mission</h3>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4">At Northeast Gutter, our
						mission is to provide exceptional copper gutter
						installations that elevate the beauty and functionality of properties throughout New England. We
						are dedicated to delivering unparalleled craftsmanship, superior customer service, and
						sustainable solutions that exceed our clients' expectations.

						Our mission is guided by the following principles:

					</p>
					<p class="mb-0">

						1. Excellence in Craftsmanship: We strive for excellence in every aspect of our work. From the
						precise measurement and customization of each copper gutter system to the meticulous
						installation process, we are committed to delivering superior craftsmanship that stands the test
						of time. We take pride in our attention to detail, ensuring that every gutter we install
						reflects the highest standards of quality and aesthetics.
						</br></br>
						2. Customer Satisfaction: Our customers are at the core of everything we do. We are committed to
						understanding their unique needs and providing tailored solutions that align with their vision.
						By fostering open communication, transparency, and a customer-centric approach, we aim to exceed
						expectations and ensure the complete satisfaction of each client. Our ultimate goal is to build
						long-lasting relationships based on trust, integrity, and delivering exceptional service.
						</br></br>
						3. Environmental Stewardship: We recognize our responsibility to the environment and strive to
						make
						sustainable choices. Copper gutters are not only durable and aesthetically pleasing but also
						contribute to environmental conservation. By promoting the use of copper, a naturally renewable
						material, we aim to reduce waste and minimize our ecological footprint. We are committed to
						embracing eco-friendly practices and raising awareness about the importance of sustainability.
						</br></br>
						4. Innovation and Adaptability: We embrace innovation and continuously explore new technologies,
						techniques, and materials to enhance our services. By staying at the forefront of industry
						advancements, we ensure that our clients receive cutting-edge solutions that meet their evolving
						needs. We are adaptable to changing market trends and customer preferences, always striving to
						provide the most effective and efficient gutter installations.
						</br></br>
						Our mission drives us to be the leading provider of copper gutter installations in New England.
						By adhering to our core values of excellence, customer satisfaction, environmental stewardship,
						and innovation, we aim to enhance the beauty, functionality, and longevity of properties while
						delivering an exceptional experience for our clients.
						</br></br>

						At Northeast Gutter, we are dedicated to transforming your gutter system into a work of art that
						withstands the test of time. Join us on this journey as we redefine excellence in copper gutter
						installations and create lasting impressions, one property at a time.</p>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 ps-lg-5 mb-4 mb-lg-0">
					<img src="{% static 'images/worker.jpg' %}" class="img-fluid box-shadow-3 appear-animation"
						data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500"
						alt="Expert copper gutter installation services in Lowell, MA, serving New England" />
				</div>
			</div>
		</div>
	</section>

	<!--<section class="section bg-light border-0 z-index-2 pb-0 m-0">
		<div class="container pt-3 mt-5">
			<div class="row justify-content-center mb-5">
				<div class="col-lg-9 col-xl-8 text-center">
					<div class="overflow-hidden">
						<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="200">WHAT WE DO</h2>
					</div>
					<div class="overflow-hidden mb-3">
						<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="400">A Selection Of Industries
							We Serve</h3>
					</div>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Lorem ipsum dolor sit
						amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est
						consectetur.</p>
				</div>
			</div>
			<div class="row pb-5 mb-5">
				<div class="col appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="750">
					<div class="owl-carousel stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark mb-0"
						data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoHeight': true, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': false, 'margin': 20, 'stagePadding': 75}">
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1968</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Lorem ipsum dolor. </p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1969</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum.</p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1972</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Lorem ipsum dolor. </p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1978</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum.</p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1983</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Lorem ipsum dolor. </p>
							</div>
						</div>
						<div>
							<div
								class="custom-bg-lighten-grey-1 custom-min-height-1 text-center bg-color-hover-primary px-3 py-5">
								<h4 class="text-color-light font-weight-bold text-6 mb-4">1985</h4>
								<p class="text-color-light opacity-6 font-weight-light mb-0">Lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Lorem ipsum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->

	<section class="section section-height-3 overlay overlay-show overlay-color-primary overlay-op-8 border-0 m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container py-3">
			<div class="row align-items-center justify-content-center text-center text-lg-start">
				<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
					<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">Get Your Next Project
						Done!</h2>
				</div>
				<div class="col-lg-3 text-lg-end">
					<a href="/contact"
						class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
						<svg class="custom-svg-btn-background" version="1.1" xmlns="/contact" xmlns:xlink="/contact"
							x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
							<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10"
								points="7,5 185,5 205,34 186,63 7,63 " />
						</svg>
						GET A QUOTE
					</a>
				</div>
			</div>
		</div>
	</section>


</div>


{% endblock content %}