{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-sm m-0"
		style="background-image: url({% static 'images/roof3.jpeg' %}); background-size: cover; background-position: center;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold text-8 mb-0">Blog</h1>
				</div>
				<!--<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
									<li><a href="demo-industry-factory.html" class="text-decoration-none">Home</a></li>
									<li class="active">Blog</li>
								</ul>
							</div>-->
			</div>
		</div>
	</section>

	<section class="section bg-color-light position-relative border-0 m-0">
		<div class="container py-4">
			<div class="row">
				<div class="col-lg-8 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="1600">
					{% for post in queryset %}
					<article class="mb-5">
						<div class="card border-0 border-radius-0 box-shadow-1">
							<div class="card-body p-4 z-index-1">
								<a href="{{ post.get_absolute_url }}">
									<img class="card-img-top border-radius-0" src="{{ post.thumbnail.url }}"
										alt="Card Image">
								</a>
								<p class="text-uppercase text-1 mb-3 pt-1 text-color-default">
									<time pubdate datetime="2023-01-10">{{ post.timestamp }}</time>

									<span class="opacity-3 d-inline-block px-2">|</span>
									{{ post.author }}
								</p>
								<div class="card-body p-0">
									<h4 class="card-title mb-3 text-5 font-weight-semibold"><a
											class="text-color-dark text-color-hover-primary text-decoration-none"
											href="{{ post.get_ablsolute_url }}">{{ post.title }}</a>
									</h4>
									<p class="card-text mb-0">{{ post.overview }}</p>
									<a href="{{ post.get_absolute_url }}"
										class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0">
										READ MORE
										<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17"
											xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink">
											<polygon stroke="#FFF" stroke-width="0.1" fill="#FFF"
												points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 " />
										</svg>
									</a>
								</div>
							</div>
						</div>
					</article>
					{% endfor %}


					<ul
						class="custom-pagination-style-1 pagination pagination-rounded pagination-md justify-content-center">
						{% if queryset.has_previous %}
						<li class="page-item"><a class="page-link"
								href="?{{ page_request_var}}={{ queryset.previous_page_number }}"><i
									class="fas fa-angle-left"></i></a></li>
						{% endif %}
						<li class="page-item active"><a class="page-link" href="#">{{ queryset.number }}</a></li>

						{% if queryset.has_next %}
						<li class="page-item"><a class="page-link"
								href="?{{ page_request_var}}={{ queryset.next_page_number }}"><i
									class="fas fa-angle-right"></i></a></li>
						{% endif %}
					</ul>

				</div>
				<div class="col-lg-4 pt-4 pt-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="1800">
					<aside class="sidebar">
						<div class="px-3 mb-4">
							<h3 class="text-color-quaternary text-capitalize font-weight-bold text-5 m-0 mb-3">About The
								Blog</h3>
							<p class="m-0">Lorem ipsum dolor sit amet, conse elit porta. Vestibulum ante justo, volutpat
								quis porta diam.</p>
						</div>

					</aside>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-height-3 overlay overlay-show overlay-color-primary overlay-op-8 border-0 m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container py-3">
			<div class="row align-items-center justify-content-center text-center text-lg-start">
				<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
					<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">Get Your Next Project
						Done!</h2>
				</div>
				<div class="col-lg-3 text-lg-end">
					<a href="demo-industry-factory-contact.html"
						class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
						<svg class="custom-svg-btn-background" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 210 70"
							preserveAspectRatio="none">
							<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10"
								points="7,5 185,5 205,34 186,63 7,63 " />
						</svg>
						GET A QUOTE
					</a>
				</div>
			</div>
		</div>
	</section>

</div>

{% endblock content %}