{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">

	<!-- Google Maps - Go to the bottom of the page to change settings and map location. -->
	<div id="googlemaps" class="google-map mt-0" style="height: 500px;">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46962.36203558645!2d-71.36806038455425!3d42.637030212144516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3a449e22c4d3f%3A0xdde5f57e7f52966b!2sLowell%2C%20MA!5e0!3m2!1sen!2sus!4v1685046042878!5m2!1sen!2sus"
			width="1920" height="500" style="border:0;" allowfullscreen="" loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

	<div class="container">

		<div class="row py-4">
			<div class="col-lg-6">

				<h2 class="font-weight-bold text-8 mt-2 mb-0">Contact Us</h2>
				<p class="mb-4">Feel free to ask for details, don't save any questions!</p>
				{% if submitted %}
				Your Message Was Submitted Succefully!

				{% else %}

				<form action="" method="POST">
					{% csrf_token %}
					{{ form.as_p }}

					<input type="submit" value="Submit" class="btn btn-info">
				</form>
				{% endif %}

			</div>
			<div class="col-lg-6">

				<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
					<h4 class="mt-2 mb-1">Our <strong>Office</strong></h4>
					<ul class="list list-icons list-icons-style-2 mt-2">
						<li><i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">Address:</strong> 186
							Boylston st Lowell MA.</li>
						<li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Phone:</strong> (978)458-1804
						</li>
						<li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Fax:</strong> <a
								href="mailto:mail@example.com">978-458-0312</a></li>
					</ul>
				</div>

				<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="950">
					<h4 class="pt-5">Business <strong>Hours</strong></h4>
					<ul class="list list-icons list-dark mt-2">
						<li><i class="far fa-clock top-6"></i> Monday - Friday - 9am to 5pm</li>
						<li><i class="far fa-clock top-6"></i> Saturday - 9am to 2pm</li>
						<li><i class="far fa-clock top-6"></i> Sunday - Closed</li>
					</ul>
				</div>

				<h4 class="pt-5">Get in <strong>Touch</strong></h4>
				<p class="lead mb-0 text-4">At Northeast Gutter, customer satisfaction is at the heart of everything we
					do. We strive to make the gutter installation process seamless and stress-free for our clients
					across New England. We genuinely value your opinions, experiences, and ideas, as they help us
					improve our services and ensure that we consistently deliver exceptional results. Whether you have a
					question about our copper gutter options, need assistance with a gutter-related issue, or simply
					want to explore how our expertise can benefit your property, we are eager to hear from you. Our
					friendly team is ready to listen, provide expert guidance, and turn your gutter dreams into a
					reality. Reach out to Northeast Gutter today and let us demonstrate our commitment to excellence.
					Your satisfaction is our top priority!



				</p>

			</div>

		</div>

	</div>

</div>

{% endblock content %}