{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">

	<section class="section section-with-shape-divider overflow-hidden border-0 m-0"
		style="background-image: url({% static 'images/roof4.png' %}); background-repeat: no-repeat; background-size: cover; background-position: center 70px;">
		<div class="shape-divider shape-divider-bottom" style="height: 120px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
				<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
			</svg>
		</div>
		<div class="container custom-container-absolute-centered-x">
			<div class="row justify-content-end">
				<div class="col-auto position-relative">
					<img src="{% static 'images/worker.jpg' %}"
						class="img-fluid box-shadow-4 position-relative bottom-10 right-0 d-none d-sm-block appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" alt="" />
				</div>
			</div>
		</div>
		<div class="container-fluid px-0 mb-5">
			<div class="row">
				<div
					class="col-sm-9 col-md-8 col-lg-7 col-xl-4 text-center text-sm-end z-index-0 px-5 px-sm-0 mt-5 mt-sm-0 pt-4 pt-sm-0">
					<div class="position-relative bg-color-grey p-5">
						<div class="spacer my-5 py-2 d-none d-sm-block"></div>
						<div class="overflow-hidden pt-sm-5 mt-sm-5">
							<h1 class="font-weight-semibold text-10 mb-0 appear-animation"
								data-appear-animation="maskUp" data-appear-animation-delay="300">New Englands leading
								Slate Roof Installers</h1>
						</div>
						<div class="overflow-hidden mb-3">
							<h2 class="font-weight-semibold text-10 line-height-2 mb-0 appear-animation"
								data-appear-animation="maskUp" data-appear-animation-delay="500">
								<strong class="font-weight-extra-bold custom-font-size-2">C Smith & Son</strong>
							</h2>
						</div>
						<p class="custom-font-size-1 appear-animation" data-appear-animation="fadeInUpShorter"
							data-appear-animation-delay="700"></p>
						<a href="/contact"
							class="btn custom-svg-btn-style-1 text-color-hover-primary mb-sm-5 appear-animation"
							data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
							<svg class="custom-svg-btn-background" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 210 70"
								preserveAspectRatio="none">
								<polygon fill="none" stroke="#D4D4D4" stroke-width="2" stroke-miterlimit="10"
									points="7,5 185,5 205,34 186,63 7,63 " />
							</svg>
							CONTACT US
						</a>
						<div class="custom-hero-sub-images-style-1 text-start">
							<div class="custom-hero-sub-images-shadow"></div>
							<img src="{% static 'images/split.jpg' %}" class="img-fluid appear-animation"
								data-appear-animation="fadeIn" data-appear-animation-delay="700" alt="" />
						</div>
						<div class="spacer py-2"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container py-4 my-5">
		<div class="row">
			<div class="col-lg-6">
				<div class="overflow-hidden mb-2">
					<h2 class="font-weight-bold text-11 line-height-2 mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="200">The Highest Quality</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<h3 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="400"></h3>
				</div>
				<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation"
					data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
					At C Smith & Son, we take immense pride in being the premier slate roof installers in New England.
					Our unwavering commitment to exceptional craftsmanship, attention to detail, and customer
					satisfaction sets us apart as industry leaders.




				</p>
			</div>
			<div class="col-lg-6">
				<p class="pt-3 pb-1 mb-2 appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="450">

					When you choose C Smith & Son, you can trust that you are selecting the best slate roof installers
					in New England. Our unwavering dedication to quality, craftsmanship, and customer satisfaction
					ensures that your slate roof will be a true masterpiece, standing the test of time and adding beauty
					and value to your property for generations to come.</p>
				<a href="/about"
					class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0 appear-animation"
					data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
					READ MORE
					<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve"
						xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<polygon stroke="#FFF" stroke-width="0.1" fill="#FFF"
							points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 " />
					</svg>
				</a>
			</div>
		</div>
	</div>

	<section class="section section-with-shape-divider border-0 z-index-2 pb-0 m-0">
		<div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
				<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
			</svg>
		</div>
		<div class="container pt-3 mt-5">
			<div class="row justify-content-center mb-5">
				<div class="col-lg-9 col-xl-8 text-center">
					<div class="overflow-hidden">
						<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="200">WHAT WE DO</h2>
					</div>
					<div class="overflow-hidden mb-3">
						<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="400">The Services We Provide
						</h3>
					</div>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600"></p>
				</div>
			</div>
			<div class="row">
				<div class="col appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="750">
					<div class="owl-carousel stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark"
						data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': true, 'margin': 20, 'stagePadding': 75}">
						<div>
							<a href="/contact" class="text-decoration-none">
								<div class="thumb-info custom-thumb-info-style-1 mb-3">
									<div class="custom-thumb-info-icon">
										<img src="{% static 'images/new.png' %}" class="img-fluid" alt="" />
									</div>
									<div class="thumb-info-wrapper">
										<img src="{% static 'images/new.jpg' %}" class="img-fluid" alt="" />
									</div>
								</div>
							</a>
							<h4 class="text-center mb-0"><a href="/contact"
									class="text-color-dark text-color-hover-primary text-decoration-none text-2">New
									Roof Installation</a></h4>
						</div>
						<div>
							<a href="/contact" class="text-decoration-none">
								<div class="thumb-info custom-thumb-info-style-1 mb-3">
									<div class="custom-thumb-info-icon">
										<img src="{% static 'images/repare.png' %}" class="img-fluid" alt="" />
									</div>
									<div class="thumb-info-wrapper">
										<img src="{% static 'images/repare.jpg' %}" class="img-fluid" alt="" />
									</div>
								</div>
							</a>
							<h4 class="text-center mb-0"><a href="/contact"
									class="text-color-dark text-color-hover-primary text-decoration-none text-2">Roof
									Repairs</a></h4>
						</div>
						<div>
							<a href="/contact" class="text-decoration-none">
								<div class="thumb-info custom-thumb-info-style-1 mb-3">
									<div class="custom-thumb-info-icon">
										<img src="{% static 'images/inspection.png' %}" class="img-fluid" alt="" />
									</div>
									<div class="thumb-info-wrapper">
										<img src="{% static 'images/inspection.jpg' %}" class="img-fluid" alt="" />
									</div>
								</div>
							</a>
							<h4 class="text-center mb-0"><a href="/contact"
									class="text-color-dark text-color-hover-primary text-decoration-none text-2">Inspections</a>
							</h4>
						</div>
						<div>
							<a href="/contact" class="text-decoration-none">
								<div class="thumb-info custom-thumb-info-style-1 mb-3">
									<div class="custom-thumb-info-icon">
										<img src="{% static 'images/icons4.png' %}" class="img-fluid" alt="" />
									</div>
									<div class="thumb-info-wrapper">
										<img src="{% static 'images/est.png' %}" class="img-fluid" alt="" />
									</div>
								</div>
							</a>
							<h4 class="text-center mb-0"><a href="/contact"
									class="text-color-dark text-color-hover-primary text-decoration-none text-2">Estimates</a>
							</h4>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section custom-section-shape-background border-0 m-0">
		<div class="custom-shape-divider z-index-1" style="height: 129px;"></div>
		<div class="container position-relative z-index-3 mt-3 mb-5">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
					<img src="{% static 'images/home.jpg' %}" class="img-fluid box-shadow-3 appear-animation"
						data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
				</div>
				<div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter"
					data-appear-animation-delay="500">
					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0">Why Choose A Slate Roof?
					</h2>
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3">Slate Roof Benefits</h3>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 pb-2 mb-4"></p>
					<ul class="list list-icons list-icons-style-2 list-icons-lg custom-list-icons-icon-size pb-1 mb-3">
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Superior Durability:
							Slate roofs are renowned for their exceptional durability, making them ideal for the harsh
							weather conditions of New England. They can withstand heavy snowfall, ice, and strong winds,
							providing long-lasting protection for your property.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Timeless Beauty:
							Slate roofs offer timeless elegance and aesthetic appeal, perfectly complementing the
							architectural styles found throughout New England. The natural variations in color and
							texture of slate create a unique and visually striking roof that enhances the overall charm
							of your property.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Low Maintenance:
							Slate roofs require minimal maintenance, saving you time and money in the long run. They are
							highly resistant to mold, mildew, and pests, eliminating the need for frequent repairs or
							treatments. With proper installation and periodic inspections, your slate roof can retain
							its pristine condition for decades.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Enhanced Property
							Value: Installing a slate roof can significantly increase the value of your property. Its
							durability, beauty, and long lifespan make it an attractive feature for potential buyers. A
							well-maintained slate roof adds prestige and curb appeal, setting your property apart in the
							competitive New England real estate market.</li>
					</ul>
					<a href="/services"
						class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0">
						READ MORE
						<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve"
							xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<polygon stroke="#FFF" stroke-width="0.1" fill="#FFF"
								points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 " />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-height-3 overlay overlay-show overlay-color-primary overlay-op-8 border-0 m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container py-3">
			<div class="row align-items-center justify-content-center text-center text-lg-start">
				<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
					<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">Get Your Next Project
						Done!</h2>
				</div>
				<div class="col-lg-3 text-lg-end">
					<a href="/contact"
						class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
						<svg class="custom-svg-btn-background" version="1.1" xmlns="/contact" xmlns:xlink="/contact"
							x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
							<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10"
								points="7,5 185,5 205,34 186,63 7,63 " />
						</svg>
						GET A QUOTE
					</a>
				</div>
			</div>
		</div>
	</section>

	<div class="container pt-2">
		<div class="row justify-content-center pt-4 mt-5">
			<div class="col-lg-8 text-center">
				<div class="overflow-hidden">
					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="200">HOW WE WORK</h2>
				</div>
				<div class="overflow-hidden mb-3">
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="400">Top Working Process</h3>
				</div>
				<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation"
					data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">It's important to note
					that slate roof installation is a complex process that requires the expertise of experienced
					professionals. These three points provide a simplified overview, but proper installation techniques
					may vary depending on specific factors such as roof design, slope, and regional requirements.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row justify-content-center process custom-process-style-1 my-5">
					<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
						<div class="process-step-circle">
							<strong class="process-step-circle-content text-color-primary">1</strong>
						</div>
						<div class="process-step-content px-lg-4">
							<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2">Preparation</h4>
							<p class="mb-0">The installation process begins with thorough preparation, including the
								assessment of the roof structure, removal of existing materials, and ensuring a stable
								and solid foundation for the slate roof.</br></br></br></p>
						</div>
					</div>
					<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
						<div class="process-step-circle">
							<strong class="process-step-circle-content text-color-primary">2</strong>
						</div>
						<div class="process-step-content px-lg-4">
							<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2">Underlayment and Flashing</h4>
							<p class="mb-0">A high-quality underlayment is carefully applied to provide an additional
								layer of protection against moisture. Flashing materials are strategically installed
								around chimneys, vents, and other roof penetrations to prevent water infiltration and
								ensure a watertight seal.</p>
						</div>
					</div>
					<div class="process-step col-sm-9 col-md-7 col-lg-4 mb-5 mb-lg-4 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
						<div class="process-step-circle">
							<strong class="process-step-circle-content text-color-primary">3</strong>
						</div>
						<div class="process-step-content px-lg-4">
							<h4 class="font-weight-bold custom-font-size-2 pb-1 mb-2">Slate Installation</h4>
							<p class="mb-0">Each slate tile is meticulously installed, starting from the bottom and
								working upwards, following a predetermined pattern and overlapping technique. Expert
								craftsmen precisely cut and fit each slate tile to create a visually appealing and
								structurally sound roof. Copper nails or hooks are used to secure the slates in place,
								ensuring long-term stability.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<section class="section section-with-shape-divider border-0 m-0">
		<div class="shape-divider shape-divider-reverse-x" style="height: 120px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
				<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
			</svg>
		</div>
		<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 120px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
				<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
			</svg>
		</div>
		<div class="container py-5 my-5">
			<div class="row mb-5">
				<div class="col">
					<div class="overflow-hidden">
						<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="200">TESTIMONIALS</h2>
					</div>
					<div class="overflow-hidden mb-3">
						<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation"
							data-appear-animation="maskUp" data-appear-animation-delay="400">Hear From Some Previous
							Clients</h3>
					</div>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Lorem ipsum dolor sit
						amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod.</p>
				</div>
			</div>
			<div class="row">
				<div class="col appear-animation" data-appear-animation="fadeInUpShorter"
					data-appear-animation-delay="750">
					<div class="row mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="600">
						{% for obj in testimonials %}
						<div class="custom-testimonial-style-1 testimonial testimonial-style-3">
							<blockquote>
								<p class="mb-0">{{ obj.overview }} </p>
							</blockquote>
							<div class="testimonial-author">

								<p class="ms-3"><strong class="font-weight-semibold text-color-dark text-4">
										{{ obj.name }}</strong><span class="text-1">{{ obj.company }}</span></p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="overflow-hidden mb-3">
				<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation"
					data-appear-animation="maskUp" data-appear-animation-delay="400">Leave A Testimonial</h3>
				</br></br></br>
				{% if submitted %}
				Your Testimonial Was Submitted Succefully!

				{% else %}

				<form action="" method="POST">
					{% csrf_token %}
					{{ form.as_p }}

					<input type="submit" value="Submit" class="btn btn-danger">
				</form>
				{% endif %}
			</div>
		</div>
</div>
</section>

<div class="container py-5 my-4">
	<div class="row align-items-center">
		<div class="col-lg-6 pe-lg-5 mb-4 mb-lg-0">
			<div class="featured-boxes featured-boxes-modern-style-1 box-shadow-3">
				<div class="featured-box custom-featured-box-with-video">
					<video class="custom-featured-box-video" controls preload="true">
						<source src="video/demo-industry-1.mp4" type="video/mp4">
					</video>
					<div class="featured-box-background"
						style="background-image: url(video/demo-industry-1.jpg); background-size: cover; background-position: center;">
					</div>
					<div class="box-content">
						<a class="custom-trigger-play-video text-decoration-none d-block" href="#">
							<i
								class="fas fa-play featured-icon featured-icon-style-2 featured-icon-hover-effect-1 text-4 bg-transparent rounded-circle border border-width-10 border-color-light right-4 top-0 m-0"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="overflow-hidden">
				<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
					data-appear-animation="maskUp" data-appear-animation-delay="200">THE ADVANTAGE</h2>
			</div>
			<div class="overflow-hidden mb-3">
				<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-0 appear-animation"
					data-appear-animation="maskUp" data-appear-animation-delay="400">Our Facilities</h3>
			</div>
			<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-4 appear-animation"
				data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Lorem ipsum dolor sit
				amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod.</p>
			<p class="mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
				imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci
				semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In
				nibh ipsum, blandit id faucibus ac, finibus vitae dui.</p>
		</div>
	</div>
</div>

<section class="section section-with-shape-divider border-0 m-0">
	<div class="shape-divider shape-divider-reverse-x" style="height: 120px;">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
			<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
		</svg>
	</div>
	<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 120px;">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
			<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
		</svg>
	</div>
	<div class="container py-5 my-5">
		<div class="row">
			<div class="col">
				<div class="overflow-hidden">
					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="200">OUR BLOG</h2>
				</div>
				<div class="overflow-hidden pb-3 mb-3">
					<h3 class="font-weight-bold text-transform-none text-9 pb-2 mb-0 appear-animation"
						data-appear-animation="maskUp" data-appear-animation-delay="400">News & Press</h3>
				</div>
			</div>
		</div>
		<div class="row mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
			data-appear-animation-delay="600">
			{% for obj in latest %}
			<div class="col-lg-6 mb-4 mb-lg-0">
				<article>
					<div class="card border-0 border-radius-0 box-shadow-1">
						<div class="card-body p-4 z-index-1">
							<a href="/blog">
								<img class="card-img-top border-radius-0" src="{{ obj.thumbnail.url }}"
									alt="Card Image">
							</a>
							<p class="text-uppercase text-1 mb-3 pt-1 text-color-default">
								<time pubdate datetime="2023-01-10">{{ obj.timestamp }}</time>

								<span class="opacity-3 d-inline-block px-2">|</span>
								{{ obj.author }}
							</p>
							<div class="card-body p-0">
								<h4 class="card-title mb-3 text-5 font-weight-semibold"><a
										class="text-color-dark text-color-hover-primary text-decoration-none"
										href="demo-industry-factory-blog-post.html">{{ obj.title }}</a>
								</h4>
								<p class="card-text mb-0">{{ obj.overview }}</p>
								<a href="/blog"
									class="custom-read-more btn btn-link d-inline-flex align-items-center font-weight-semibold text-decoration-none ps-0">
									READ MORE
									<svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17"
										xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink">
										<polygon stroke="#FFF" stroke-width="0.1" fill="#FFF"
											points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 " />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
</div>
</div>
{% endblock content %}