{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="page-header page-header-modern page-header-background page-header-background-sm m-0"
	style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
				<h1 class="font-weight-bold text-8 mb-0">Blog</h1>
			</div>
			<div class="col-md-4 order-1 order-md-2 align-self-center">
				<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
					<li><a href="demo-industry-factory.html" class="text-decoration-none">Home</a></li>
					<li class="active">Blog</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section bg-color-light position-relative border-0 m-0">
	<div class="container py-4">
		<div class="row">
			<div class="col-lg-8 appear-animation" data-appear-animation="fadeInUpShorter"
				data-appear-animation-delay="1600">

				<article>
					<div class="card border-0 border-radius-0 mb-5">
						<div class="card-body p-0 z-index-1">
							<p class="text-uppercase text-1 mb-3 text-color-default"><time pubdate
									datetime="2023-01-10">10 Jan 2023</time> <span
									class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span
									class="opacity-3 d-inline-block px-2">|</span> John Doe</p>

							<div class="post-image pb-4">
								<img class="card-img-top border-radius-0"
									src="img/demos/industry-factory/blog/blog-1.jpg" alt="Card Image">
							</div>

							<div class="card-body p-0">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus lacus,
									rutrum sit amet placerat et, bibendum nec mauris. Duis molestie, purus eget
									placerat viverra, nisi odio gravida sapien, congue tincidunt nisl ante nec
									tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
									cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
									sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non
									tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus.
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
									Curae; Praesent nec tempus nibh. Donec mollis commodo metus et fringilla. Etiam
									venenatis, diam id adipiscing convallis, nisi eros lobortis tellus, feugiat
									adipiscing ante ante sit amet dolor. Vestibulum vehicula scelerisque facilisis.
									Sed faucibus placerat bibendum. Maecenas sollicitudin commodo justo, quis
									hendrerit leo consequat ac. Proin sit amet risus sapien, eget interdum dui.
									Proin justo sapien, varius sit amet hendrerit id, egestas quis mauris.</p>
								<p>Ut ac elit non mi pharetra dictum nec quis nibh. Pellentesque ut fringilla elit.
									Aliquam non ipsum id leo eleifend sagittis id a lorem. Sociis natoque penatibus
									et magnis dis parturient montes, nascetur ridiculus mus. Aliquam massa mauris,
									viverra et rhoncus a, feugiat ut sem. Quisque ultricies diam tempus quam
									molestie vitae sodales dolor sagittis. Praesent commodo sodales purus. Maecenas
									scelerisque ligula vitae leo adipiscing a facilisis nisl ullamcorper. Vestibulum
									ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
								<p>Curabitur non erat quam, id volutpat leo. Nullam pretium gravida urna et
									interdum. Suspendisse in dui tellus. Cras luctus nisl vel risus adipiscing
									aliquet. Phasellus convallis lorem dui. Quisque hendrerit, lectus ut accumsan
									gravida, leo tellus porttitor mi, ac mattis eros nunc vel enim. Nulla facilisi.
									Nam non nulla sed nibh sodales auctor eget non augue. Pellentesque sollicitudin
									consectetur mauris, eu mattis mi dictum ac. Etiam et sapien eu nisl dapibus
									fermentum et nec tortor.</p>



							</div>
						</div>
					</div>
				</article>

			</div>
			<div class="col-lg-4 pt-4 pt-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
				data-appear-animation-delay="1800">
				<aside class="sidebar">
					<div class="px-3 mb-4">
						<h3 class="text-color-quaternary text-capitalize font-weight-bold text-5 m-0 mb-3">About The
							Blog</h3>
						<p class="m-0">Lorem ipsum dolor sit amet, conse elit porta. Vestibulum ante justo, volutpat
							quis porta diam.</p>
					</div>

				</aside>
			</div>
		</div>
	</div>
</section>

<section class="section section-height-3 overlay overlay-show overlay-color-primary overlay-op-8 border-0 m-0"
	style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
	<div class="container py-3">
		<div class="row align-items-center justify-content-center text-center text-lg-start">
			<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
				<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">Get Your Next Project
					Done!</h2>
			</div>
			<div class="col-lg-3 text-lg-end">
				<a href="/contact"
					class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
					<svg class="custom-svg-btn-background" version="1.1" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 210 70"
						preserveAspectRatio="none">
						<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10"
							points="7,5 185,5 205,34 186,63 7,63 " />
					</svg>
					GET A QUOTE
				</a>
			</div>
		</div>
	</div>
</section>





{% endblock content %}