{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-sm m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold text-8 mb-0">Services</h1>
				</div>
				<div class="col-md-4 order-1 order-md-2 align-self-center">
					<ul class="breadcrumb breadcrumb-light d-block text-md-end text-4 mb-0">
						<li><a href="demo-industry-factory.html" class="text-decoration-none">Home</a></li>
						<li class="active">Services</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-with-shape-divider border-0 pb-2 pb-lg-5 m-0">
		<div class="shape-divider shape-divider-bottom" style="height: 120px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
				<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
			</svg>
		</div>
		<div class="container pt-3 pb-5 mb-5">
			<div class="row pb-1 pb-lg-3 mb-lg-4">
				<div class="col">


					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">WHAT WE DO</h2>
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Slate Roof
						Installation</h3>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-4 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Elevate Your New
						England Home with Timeless Beauty and Unmatched Durability: Choose Slate Roofs for Enduring
						Elegance and Unrivaled Protection.</p>
					<p class="pe-lg-5 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="800">A slate roof offers an array of benefits perfectly suited for
						the unique climate and architectural charm of New England. First and foremost, slate roofs boast
						exceptional durability, withstanding the region's heavy snowfall, strong winds, and fluctuating
						temperatures without compromising their integrity. Beyond their resilience, slate roofs exude
						timeless beauty, enhancing the aesthetic appeal of any property with their natural variations in
						color and texture. Additionally, slate roofs require minimal maintenance, saving homeowners time
						and money in the long run. As an eco-friendly option, slate is a sustainable roofing material
						that can last for generations, reducing the environmental impact. With their remarkable
						longevity, enduring elegance, and superior protection, slate roofs are an ideal choice for New
						England homeowners seeking both style and durability for their properties.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-7 col-xl-6 pe-lg-5 mb-4 mb-lg-0">
					<img src="{% static 'images/home.jpg' %}" class="img-fluid box-shadow-3 appear-animation"
						data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000" alt="" />
				</div>
				<div class="col-lg-5 col-xl-6">
					<p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="1200">Furthermore, the benefits of a slate roof extend beyond
						durability and aesthetics. Slate is a naturally fire-resistant material, providing an added
						layer of safety and peace of mind to homeowners in New England. Its low water absorption rate
						prevents moisture damage and reduces the risk of leaks, ensuring a dry and comfortable living
						environment. Additionally, slate roofs offer excellent insulation properties, helping to
						regulate indoor temperatures and reduce energy consumption year-round. By choosing a slate roof,
						New England homeowners can enjoy long-term cost savings, increased property value, and a sense
						of pride in owning a roof that embodies the region's rich architectural heritage. With its
						unmatched combination of resilience, beauty, and functionality, a slate roof is a timeless
						investment that brings lasting benefits to any home in New England.
					</p>
					<p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="1400"> </p>
					<ul class="list list-icons list-icons-style-2 list-icons-lg custom-list-icons-icon-size pb-1 mb-3">
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Superior Durability:
							Slate roofs are renowned for their exceptional durability, making them ideal for the harsh
							weather conditions of New England. They can withstand heavy snowfall, ice, and strong winds,
							providing long-lasting protection for your property.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Timeless Beauty:
							Slate roofs offer timeless elegance and aesthetic appeal, perfectly complementing the
							architectural styles found throughout New England. The natural variations in color and
							texture of slate create a unique and visually striking roof that enhances the overall charm
							of your property.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Low Maintenance:
							Slate roofs require minimal maintenance, saving you time and money in the long run. They are
							highly resistant to mold, mildew, and pests, eliminating the need for frequent repairs or
							treatments. With proper installation and periodic inspections, your slate roof can retain
							its pristine condition for decades.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Enhanced Property
							Value: Installing a slate roof can significantly increase the value of your property. Its
							durability, beauty, and long lifespan make it an attractive feature for potential buyers. A
							well-maintained slate roof adds prestige and curb appeal, setting your property apart in the
							competitive New England real estate market.</li>
					</ul>
				</div>
			</div>
		</div>
	</section>



	<section class="section section-height-3 overlay overlay-show overlay-color-primary overlay-op-8 border-0 m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container py-3">
			<div class="row align-items-center justify-content-center text-center text-lg-start">
				<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
					<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">Get Your Next Project
						Done!</h2>
				</div>
				<div class="col-lg-3 text-lg-end">
					<a href="/contact"
						class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
						<svg class="custom-svg-btn-background" version="1.1" xmlns="/contact" xmlns:xlink="/contact"
							x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
							<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10"
								points="7,5 185,5 205,34 186,63 7,63 " />
						</svg>
						GET A QUOTE
					</a>
				</div>
			</div>
		</div>
	</section>



</div>


{% endblock content %}