{% extends 'base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main">

	<section class="page-header page-header-modern page-header-background page-header-background-sm m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold text-8 mb-0">Services</h1>
				</div>
				<div class="col-md-4 order-1 order-md-2 align-self-center">

				</div>
			</div>
		</div>
	</section>

	<section class="section section-with-shape-divider border-0 pb-2 pb-lg-5 m-0">
		<div class="shape-divider shape-divider-bottom" style="height: 120px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
				<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 " />
			</svg>
		</div>
		<div class="container pt-3 pb-5 mb-5">
			<div class="row pb-1 pb-lg-3 mb-lg-4">
				<div class="col">


					<h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">WHAT WE DO</h2>
					<h3 class="font-weight-bold text-transform-none text-9 line-height-2 mb-3 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Slate Roof
						Installation</h3>
					<p class="custom-font-secondary custom-font-size-1 line-height-7 mb-4 appear-animation"
						data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">Copper gutters offer
						unmatched durability, timeless beauty, low maintenance requirements, and eco-friendly
						sustainability.</p>
					<p class="pe-lg-5 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="800">Having copper gutters offers a multitude of benefits that make
						them a superior choice for homeowners. First and foremost, copper gutters are renowned for their
						exceptional durability. Copper is a naturally weather-resistant material that can withstand the
						harshest elements without rusting or deteriorating. This durability ensures that your gutters
						will have a long lifespan, providing reliable protection for your home against water damage.
						Additionally, copper gutters offer timeless beauty and elegance. As they age, copper develops a
						distinctive patina that adds character and charm to your home or building. The rich, warm tones
						of copper complement a variety of architectural styles, making it a versatile choice that
						enhances the overall curb appeal of your property. Furthermore, copper gutters require minimal
						maintenance. The natural patina that forms over time protects the copper from corrosion,
						reducing the need for frequent upkeep. Occasional cleaning to remove debris is typically all
						that's needed to keep your copper gutters functioning optimally. Lastly, copper is a highly
						sustainable material, making copper gutters an eco-friendly choice. Copper is a naturally
						occurring resource that can be recycled without any loss of its inherent properties. By choosing
						copper gutters, you're contributing to reducing waste and promoting a more sustainable
						environment. With their durability, aesthetics, low maintenance requirements, and environmental
						sustainability, copper gutters provide a comprehensive package of benefits that make them a
						valuable investment for any homeowner.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-7 col-xl-6 pe-lg-5 mb-4 mb-lg-0">
					<img src="{% static 'images/home.jpg' %}" class="img-fluid box-shadow-3 appear-animation"
						data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000" alt="" />
				</div>
				<div class="col-lg-5 col-xl-6">
					<p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="1200">Furthermore, the durability of copper is unmatched, making
						copper gutters a long-lasting investment. Copper is resistant to corrosion, decay, and damage
						caused by UV rays, extreme weather conditions, and pests. This durability ensures that your
						gutters will withstand the test of time, providing reliable protection and requiring minimal
						maintenance throughout their lifespan.

						In addition to their durability, copper gutters offer sustainability benefits. Copper is a
						highly sustainable material that can be recycled indefinitely without losing its properties. By
						choosing copper gutters, you contribute to reducing environmental impact and promoting a more
						eco-friendly approach to gutter systems.

						Overall, the importance of copper gutters lies in their ability to combine functionality,
						durability, aesthetic appeal, and sustainability. They not only protect your property from water
						damage but also enhance its visual appeal and contribute to a greener environment. By investing
						in copper gutters, you are making a choice that adds long-term value to your home while ensuring
						peace of mind and an enduring solution for your gutter needs.
					</p>
					<!--<p class="pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
						data-appear-animation-delay="1400"> </p>
					<ul class="list list-icons list-icons-style-2 list-icons-lg custom-list-icons-icon-size pb-1 mb-3">
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Durability: Copper
							gutters are renowned for their exceptional durability. Copper is a naturally
							weather-resistant material that can withstand harsh elements, such as heavy rain, snow, and
							extreme temperatures, without rusting or deteriorating. This durability ensures that your
							gutters will have a long lifespan, providing reliable protection for your home against water
							damage.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Aesthetics: Copper
							gutters offer timeless beauty and elegance to any property. As they age, copper develops a
							distinctive patina that adds character and charm to your home or building. The rich, warm
							tones of copper complement a variety of architectural styles, making it a versatile choice
							that enhances the overall curb appeal of your property.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Low Maintenance: One
							of the key benefits of copper gutters is their low maintenance requirements. Unlike other
							gutter materials, copper doesn't require regular painting or coating to maintain its
							appearance. The natural patina that forms over time protects the copper from corrosion,
							reducing the need for frequent upkeep. Occasional cleaning to remove debris is typically all
							that's needed to keep your copper gutters functioning optimally.</li>
						<li class="font-weight-semibold text-color-dark"><i
								class="fas fa-check text-color-dark border-color-grey-1 top-7"></i> Environmental
							Sustainability: Copper is a highly sustainable material, making copper gutters an
							eco-friendly choice. Copper is a naturally occurring resource that can be recycled without
							any loss of its inherent properties. By choosing copper gutters, you're contributing to
							reducing waste and promoting a more sustainable environment. Additionally, copper gutters
							have a long lifespan, reducing the need for frequent replacements, further minimizing
							environmental impact.</li>
					</ul>-->
				</div>
			</div>
		</div>
	</section>



	<section class="section section-height-3 overlay overlay-show overlay-color-primary overlay-op-8 border-0 m-0"
		style="background-image: url(img/demos/industry-factory/backgrounds/background-2.jpg); background-size: cover; background-position: center;">
		<div class="container py-3">
			<div class="row align-items-center justify-content-center text-center text-lg-start">
				<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
					<h2 class="text-color-light font-weight-bold custom-positive-ls-5px mb-0">Get Your Next Project
						Done!</h2>
				</div>
				<div class="col-lg-3 text-lg-end">
					<a href="/contact"
						class="btn custom-svg-btn-style-1 custom-svg-btn-style-1-light custom-svg-btn-style-1-light-solid text-color-dark">
						<svg class="custom-svg-btn-background" version="1.1" xmlns="/contact" xmlns:xlink="/contact"
							x="0px" y="0px" viewBox="0 0 210 70" preserveAspectRatio="none">
							<polygon fill="transparent" stroke="#FFF" stroke-width="2" stroke-miterlimit="10"
								points="7,5 185,5 205,34 186,63 7,63 " />
						</svg>
						GET A QUOTE
					</a>
				</div>
			</div>
		</div>
	</section>



</div>


{% endblock content %}